* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: fantasy;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-input {
  min-width: 30vw;
}

h2 {
  color: #ffffff;
}
h2 span {
  font-size: larger;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: rgb(190, 230, 234);
}

.App {
  margin: 2rem 0rem;
  width: 80vw;
  min-width: 375px;
  /* height: 80vh; */
  background: linear-gradient(
    45deg,
    rgb(106, 174, 213) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 1.5rem;
  padding: 2rem;
  /* box-shadow: 4px 4px 4px 10px solid gray; */
  box-shadow: 0px 0px 35px 13px rgba(142, 154, 152, 0.917);
}

nav ul {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

nav ul li {
  list-style: none;
  display: flex;
  /* background-color: aqua; */
  padding: 0.5rem;
  border-radius: 5px;
}

nav ul li span {
  margin-right: 0.3rem;
}

nav ul li:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(202, 196, 196);
  cursor: pointer;
}

.list-active {
  transition: 0.2s ease-in-out;
  background-color: rgb(202, 196, 196);
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.input-container {
  /* outline: 1px solid rgb(65, 64, 64); */
  margin: 0.5rem 0rem;
  border-radius: 5px;
  padding: 0.6rem;
}

input {
  padding: 0.2rem;
  font-size: 1rem;
  background-color: whitesmoke;
  /* outline: 0px; */
  width: 100%;
  border-radius: 0.45rem;
}

nav ul #hamburger-icon {
  /* background-color: #2497E3; */
  display: none;
}

.select-tag {
  display: none;
}
.amortization-container {
  margin-top: 1rem;
  text-align: center;
}
.year-container {
  outline: 2px solid black;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  position: relative;
}

table {
  /* outline: 2px solid white; */
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

th {
  outline: 1px solid black;
  /* margin-right: 10px; */
  padding: 1rem;
  font-weight: 800;
  /* border-bottom: 0px solid white; */
}

td {
  padding: 1rem 0.5rem;
  border-bottom: 2px solid white;
  border-right: 1px solid white;
}

tbody td:last-child {
  /* background-color: #2497e3; */
  border-right: 0px;
}

.name-arrow span {
  margin-left: 2rem;
}

@media screen and (max-width: 930px) {
  nav ul li {
    display: none;
  }
  nav ul #hamburger-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .select-tag {
    display: flex;
    width: 60%;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: sans-serif;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }

  .title-container {
    padding: 0.2rem;
  }

  .input-container {
    font-size: 0.8rem;
  }
  nav ul {
    padding: 0.5rem 0.2rem;
  }
  .select-tag {
    padding: 0.2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
